@inherits LayoutComponentBase

<!DOCTYPE html>
<html class="h-100" lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["bootstrap/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link href="HtmxMinimalApi.styles.css" rel="stylesheet">
    <script src="@Assets["client-error-handling.js"]"></script>
    <script src="@Assets["remove-cached-history.js"]"></script>
    <HeadOutlet/>
</head>
<body>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
</body>
</html>
